:root {
  --primary-color: #ff5a5f;
  --snake-eye-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.snake-game {
  width: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 1240px;
  align-items: center;
  justify-content: space-around;
}

.snake-game .__btn {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #28a745;
}

.board {
  width: 500px;
  height: 500px;
  display: grid;
  margin-top: 50px;
  grid-template-columns: 12fr;
  border: 1px solid var(--primary-color);
}

.row {
  height: 100%;
}

.column {
  height: 100%;
  width: calc(100% / 10);
  display: inline-block;
}

.row .__fill {
  position: relative;
  background-color: #000;
}

.row .__fill[data-snake-index="0 MOVE_LEFT"] {
  clip-path: ellipse(98px 51px at 96px 45px);
}

.row .__fill[data-snake-index="0 MOVE_DOWN"] {
  transform: rotate(180deg);
  clip-path: ellipse(98px 51px at 96px 45px);
}

.row .__fill[data-snake-index="0 MOVE_RIGHT"] {
  transform: rotate(90deg);
  clip-path: ellipse(98px 51px at 96px 45px);
}

.row .__fill[data-snake-index="0 MOVE_UP"] {
  clip-path: ellipse(98px 51px at 96px 45px);
}

.row .__fill[data-snake-index="0 MOVE_LEFT"] .eye {
  right: 0;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--snake-eye-color);
}

.row .__fill[data-snake-index="0 MOVE_DOWN"] .eye {
  left: 5px;
  top: 35px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--snake-eye-color);
}

.row .__fill[data-snake-index="0 MOVE_RIGHT"] .eye {
  left: 5px;
  top: 35px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--snake-eye-color);
}

.row .__fill[data-snake-index="0 MOVE_UP"] .eye {
  top: 30px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--snake-eye-color);
}

.row .__crumb {
  border-radius: 50%;
  background-color: var(--primary-color);
}
